/* only demo styles */
@import 
url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');

body {
    font-family: 'Open Sans', sans-serif;
  }
  .center{
    width: 100%; 
    height: 92vh; 
    display: flex; 
    justify-content: center; 
    align-items: center
  }
  
  .container{
    display: inline-block;
    width:551px; 
    border:2px solid #6E93B3; 
    padding:30px 79px 19px;
    
  }
  
  .radio-custom {
      opacity: 0;
      position: absolute;   
  }
  
  .radio-custom, .radio-custom-label {
      display: inline-block;
      vertical-align: middle;
      margin: 5px;
      cursor: pointer;
  }
  
  .btn{
   display: flex;
   justify-content: right; 
   padding: 100px 200px 0 0;
  }

  .btn_submit{
    background: #6ACE63; 
    text-align: center;
    padding: 18px 40px; 
    border: 2px solid #6ace63; 
    border-radius: 10px;
    color: white; font-size: 18px; 
    cursor: pointer
  }

    .btn_submit:hover{
        background: #5eb558;
    }


    
  .cert{
      background:#3f95aa;
      width: 350px;height: 250px;
      /* margin-left: 35%;margin-top: 10%; */
      display: flex;
      justify-content: center;
      position: relative;
      border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 5px 10px 0px; 
  -moz-box-shadow: 0px 5px 10px 0px;
  box-shadow: 0px 5px 10px 0px;
  }
  
  
  .cert .medal {
      background: #C9992E;
      width: 20px;
      height: 20px;
      top: 30px;
      left: 30px;
      position: absolute;
      padding: 10px 10px 10px 10px;
      font-size: 2em;
      border-radius: 50%;
      rgba:(0,0,0,0.2);
      z-index:30;
  }
  
  .ribbon1 {
      width: 15px;
      height: 40px;
      background-color: #9bdbf6;
      position: absolute;
      top: 50px;
      left: 35px;
      z-index: 1;
      -webkit-transform: rotate(30deg);
      border-right: 1px solid white;   
    }
  .ribbon2 {
      width: 15px;
      height: 40px;
      background-color: #9bdbf6;
      position: absolute;
      top: 50px;
      left: 50px;
      z-index: 1;
      -webkit-transform: rotate(150deg);
      border-right: 1px solid white;   
    }
  
  .title {
    background:#E0E0E0;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    height: 40px;
    width: 100%;
    z-index:999;
  }
  
  .content {
    
    text-align: center;
    margin-top: 60px;
    height: 40px;
    z-index:999;
  }